*{
  padding: 0;
  margin: 0;
  text-decoration: none; 
  box-sizing: border-box; 
 
}


body{
  position: relative;
  max-width: 440px;
  background: #000000;
  /* border: 1px solid white; */
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}



